<ul class="user-list">
    <div class="card">
      <div class="card-header">
        <!-- icon for the field/industry?? -->
        <h4 class="username">{{selectedUser?.name}}</h4>
      </div>
      <div class="user-info-container">
        <div class="user-info">
          <p>Name: {{ selectedUser?.name }}</p>
          <p>Email: {{ selectedUser?.email }}</p>
          <p>Portfolio: {{ selectedUser?.portfolio }}</p>
          <p>Description: {{ selectedUser?.description }}</p>
          <p>Hidden: {{ selectedUser?.hidden }}</p>
        </div>
        <div class="user-skills">
          <h5>Skills:</h5>
          <ul>
            <li *ngFor="let skill of selectedUser?.skills">
              <p class="skills-item">{{ skill }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
</ul>
