.btn-success {
    float: right;
    margin-bottom: 1em;
}

.status-container {
    display: flex;
    justify-content: space-between;
}

.status-select {
    background-color: white;
    border-radius: 0.5em;
    border: 1px solid lightgray;
}

.card {
    margin-bottom: 1rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}