.btn-success {
    float: right;
    margin-bottom: 1em;
    margin-right: 1em;
}

.btn-danger {
    float: right;
    margin-right: 1em;
}

.rounded {
    margin: auto;
    margin-bottom: 1em;
    left: 50%;
    width: 98%;
}

.container {
    margin-top: 1em;
}

.card-header {
    display: flex;
    justify-content: space-between;
    background-color: #90e0ef;
}

.card {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}