.btn-success{
    float: right;
    margin-bottom: 1em;
    margin-right: 1em;
}

.btn-danger{
    float: right;
    margin-right: 1em;
}

.rounded{
    margin: auto;
    margin-bottom: 1em;
    left: 50%;
    width: 98%;
}

.container{
    margin-top: 1em;
}