<div class="container">
  <form #createProjectForm="ngForm" (ngSubmit)="onSubmit(createProjectForm)">
    <div class="status-container">
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text" id="progress">Project status:</span>
        </div>
        <select
          class="status-select"
          (change)="changeStatus($event)"
          name="progress"
          ngModel
        >
          <option value="" disabled>
            {{ selectedProject?.progress }}
          </option>
          <option *ngFor="let progress of progressList" [ngValue]="progress">
            {{ progress }}
          </option>
        </select>
      </div>
    </div>
    <hr class="divider" />
    <fieldset class="mb-3">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="github">Github link:</span>
        </div>
        <input
          type="text"
          name="github"
          class="form-control"
          ngModel="{{ selectedProject?.link }}"
          aria-label="small"
          aria-describedby="inputGroup-sizing-sm"
          placeholder="{{ selectedProject?.link }}"
        />
      </div>
      <hr class="divider" />
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="title">Project name:</span>
        </div>
        <input
          type="text"
          name="title"
          class="form-control"
          ngModel="{{ selectedProject?.title }}"
          aria-label="small"
          aria-describedby="inputGroup-sizing-sm"
          placeholder="{{ selectedProject?.title }}"
          required
        />
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="industry">Industry:</span>
        </div>
        <input
          type="text"
          name="industry"
          class="form-control"
          ngModel="{{ selectedProject?.industry }}"
          aria-label="small"
          aria-describedby="inputGroup-sizing-sm"
          placeholder="{{ selectedProject?.industry }}"
        />
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="theme">Theme:</span>
        </div>
        <input
          type="text"
          name="theme"
          class="form-control"
          ngModel="{{ selectedProject?.theme }}"
          aria-label="small"
          aria-describedby="inputGroup-sizing-sm"
          placeholder="{{ selectedProject?.theme }}"
        />
      </div>
    </fieldset>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="createProjectForm.form.invalid"
    >
      Save
    </button>
  </form>
</div>
