<h4>Administration</h4>
<form #createProjectForm="ngForm" (ngSubmit)="onSubmit(createProjectForm)">
  <div class="container">
    <fieldset class="mb-3">
      <label for="project-name">Project name: </label>
      <input type="text" name="project-name" ngModel />
    </fieldset>
    <fieldset class="mb-3">
      <label for="theme">Theme/purpose: </label>
      <input type="text" name="theme" ngModel="{{ selectedProject?.theme }}" />
    </fieldset>
    <fieldset class="mb-3">
      <label for="industry">Field/Industry: </label>
      <input
        type="text"
        name="industry"
        ngModel="{{ selectedProject?.industry }}"
      />
    </fieldset>
  </div>
  <button type="submit" [disabled]="createProjectForm.form.invalid">
    Submit
  </button>
</form>
