<div class="form-group">
  <div class="chat">
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="20"
      readonly
      placeholder="No chat messages have been sent yet"
    >
      </textarea
    >
  </div>
  <div class="chat">
    <textarea
      class="form-control"
      id="exampleFormControlTextarea2"
      rows="3"
      placeholder="Type your chat message here"
    ></textarea>
    <div class="button">
      <button type="submit" class="btn btn-success">Send</button>
    </div>
  </div>
</div>
