.card-header {
    display: flex;
    justify-content: space-between;
}

.project-header {
    display: flex;
}

.project-title {
    margin-bottom: 0;
    margin-left: 0.7em;
}

#terms {
    margin-right: 0.2em;
}