.card-header {
    display: flex;
    justify-content: space-between;
    background-color: #90e0ef;
}

.project-header {
    display: flex;
}

.project-title {
    margin-bottom: 0;
    margin-left: 0.7em;
}

#terms {
    margin-right: 0.2em;
}