<div class="card">
  <div class="card-header">
    <!-- icon for the field/industry?? -->
    <h4 class="username">{{ loggedInUser.name }}</h4>
  </div>
  <div class="user-info-container">
    <div class="user-info">
      <p>Name: {{ loggedInUser.name }}</p>
      <p>Email: {{ loggedInUser.email }}</p>
      <p>Portfolio: {{ loggedInUser.portfolio }}</p>
      <p>Description: {{ loggedInUser.description }}</p>
      <p>Hidden: {{ loggedInUser.hidden }}</p>
    </div>
    <div class="user-skills">
      <h5>Skills:</h5>
      <ul>
        <li *ngFor="let skill of loggedInUserSkills">
          <p class="skills-item">{{ skill.name }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
