<div class="card">
  <app-profile-header></app-profile-header>
  <div class="container">
    <div class="user-info">
      <p><b>Name: </b>{{ loggedInUser.name }}</p>
      <p><b>Email: </b>{{ loggedInUser.email }}</p>
      <p><b>Portfolio: </b>{{ loggedInUser.portfolio }}</p>
      <p><b>Description: </b>{{ loggedInUser.description }}</p>
      <p><b>Hidden: </b>{{ loggedInUser.hidden }}</p>
    </div>
    <div class="user-skills">
      <h5>Skills:</h5>
      <ul>
        <li *ngFor="let skill of skillsUser">
          <p class="skills-item">{{ skill.name }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
