.projects-list {
  list-style: none;
  padding-left: 0;
}

.card {
  margin-bottom: 1rem;
  border: 2px solid black;
}

.card-header {
  display: flex;
}

.project-title {
  margin-bottom: 0;
  margin-left: 0.7em;
}

.project-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
}

.project-info {
  margin-left: 1em;
}

.project-skills {
  width: 13em;
  margin-right: 1em;
}

.skills-item {
  margin: 0;
}