<ul class="projects-list">
  <li *ngFor="let project of catalogue">
    <div class="card">
      <div class="card-header">
        <app-project-icon [industry]="project.industry"></app-project-icon>
        <h4 class="project-title">{{ project.title }}</h4>
      </div>
      <div class="project-info-container">
        <div class="project-info">
          <p>Project owner:</p>
          <p>Field / industry: {{ project.industry }}</p>
          <p>Theme / purpose: {{ project.theme }}</p>
        </div>
        <div class="project-skills">
          <h5>Required skills:</h5>
          <ul>
            <li *ngFor="let skill of project.skills">
              <p class="skills-item">{{ skill.name }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
