<ul class="projects-list">
  <li *ngFor="let project of projects">
    <div class="card" (click)="goToProject(project.id)">
      <app-catalogue-project-header
        [title]="project.title"
        [industry]="project.industry"
      ></app-catalogue-project-header>
      <div class="project-info-container">
        <div class="project-info">
          <p>Project owner:</p>
          <p>Field / industry: {{ project.industry }}</p>
          <p>Theme / purpose: {{ project.theme }}</p>
        </div>
        <div class="project-skills">
          <h5>Required skills:</h5>
          <ul>
            <li *ngFor="let skill of project.skills">
              <p class="skills-item">{{ skill }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
