/* You can add global styles to this file, and also import other style files */
.title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.container {
    margin-top: 1em;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}