.card-header {
    background-color: #90e0ef;
}

.profile-header {
    display: flex;
    justify-content: space-between;
}

.iconbadge {
    display: flex;
    align-items: center;
}

.profile-name {
    margin-left: 0.5em;
}