<div class="card-header">
  <div class="profile-header">
    <div class="iconbadge">
      <img
        src="/assets/icon/person.svg"
        alt="Account Icon"
        width="38px"
        height="38px"
      />
      <h4 class="profile-name">{{ username }}</h4>
    </div>
    <!-- Only show if the user that is logged in is the user displayed on screen -->
    <div *ngIf="loggedIn === true">
      <button type="button" class="btn btn-primary" (click)="goToEditProfile()">
        Edit Profile
      </button>
    </div>
  </div>
</div>
