<div class="catalogue-header">
  <div class="container">
    <div class="first-section">
      <h1 class="title">Projects</h1>
      <div>
        <input
          class="checkbox"
          type="checkbox"
          [(ngModel)]="filter.music"
          (ngModelChange)="filterProjects()"
        />
        <label for="music">Music</label>
      </div>
      <div>
        <input
          class="checkbox"
          type="checkbox"
          [(ngModel)]="filter.film"
          (ngModelChange)="filterProjects()"
        />
        <label for="film">Film</label>
      </div>
      <div>
        <input
          class="checkbox"
          type="checkbox"
          [(ngModel)]="filter.gamedevelopment"
          (ngModelChange)="filterProjects()"
        />
        <label for="gamedev">Gamedevelopment</label>
      </div>
      <div>
        <input
          class="checkbox"
          type="checkbox"
          [(ngModel)]="filter.webdevelopment"
          (ngModelChange)="filterProjects()"
        />
        <label for="webdev">Webdevelopment</label>
      </div>
      <app-searchbar></app-searchbar>
      <button class="btn btn-primary" (click)="newProject()">
        New project
      </button>
    </div>
    <div class="row">
      <div class="col">
        <h3>All projects</h3>
      </div>
      <div class="col" *ngIf="loggedIn === true">
        <h3>Projects that match your skills</h3>
      </div>

      <!-- <div>
        <h3>All projects</h3>
      </div>
      <div class="matching">
        <h3 *ngIf="loggedIn === true">Projects that match your skills</h3>
      </div> -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <app-catalogue [projects]="projectsForCatalogue"></app-catalogue>
      </div>
    </div>
    <div class="col" *ngIf="loggedIn === true">
      <div>
        <app-catalogue
          [projects]="matchingProjectsForCatalogue"
        ></app-catalogue>
      </div>
    </div>
  </div>
</div>
