<div class="container">
  <div class="container-header">
    <h1 class="title">Projects</h1>
    <div>
      <input
        class="checkbox"
        type="checkbox"
        [(ngModel)]="filter.music"
        (ngModelChange)="filterProjects()"
      />
      <label for="music">Music</label>
    </div>
    <div>
      <input
        class="checkbox"
        type="checkbox"
        [(ngModel)]="filter.film"
        (ngModelChange)="filterProjects()"
      />
      <label for="film">Film</label>
    </div>
    <div>
      <input
        class="checkbox"
        type="checkbox"
        [(ngModel)]="filter.gamedevelopment"
        (ngModelChange)="filterProjects()"
      />
      <label for="gamedev">Gamedevelopment</label>
    </div>
    <div>
      <input
        class="checkbox"
        type="checkbox"
        [(ngModel)]="filter.webdevelopment"
        (ngModelChange)="filterProjects()"
      />
      <label for="webdev">Webdevelopment</label>
    </div>
    <app-searchbar></app-searchbar>
    <button class="btn btn-success" (click)="newProject()">New project</button>
  </div>
  <h2>Projects that match your skills</h2>
  <app-catalogue [projects]="matchingProjectsForCatalogue"></app-catalogue>
  <h2>All projects</h2>
  <app-catalogue [projects]="projectsForCatalogue"></app-catalogue>
</div>
