.checkbox {
    margin-right: 0.3em;
}

.container>h3 {
    margin-top: 2rem;
}

.catalogue-header {
    position: sticky;
    top: 6em;
    z-index: 100;
    margin-bottom: 1em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    // border-bottom: 2px solid darkblue;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

// .second-section
.first-section {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.second-section {
    display: flex;
    margin-left: 2em;
}

.matching {
    margin-left: 40%;
}