<div class="container">
  <div class="container-header">
    <h1 class="title">Projects</h1>
    <input type="checkbox" [(ngModel)]="filter.music" (ngModelChange)="filterProjects()" /> music
    <input type="checkbox" [(ngModel)]="filter.film" (ngModelChange)="filterProjects()" /> film
    <input type="checkbox" [(ngModel)]="filter.gamedevelopment" (ngModelChange)="filterProjects()" /> web development
    <input type="checkbox" [(ngModel)]="filter.webdevelopment" (ngModelChange)="filterProjects()" /> game development
    <app-searchbar></app-searchbar>
  </div>
  <h2>Projects that match your skills</h2>
  <app-catalogue [projects]="matchingProjectsForCatalogue"></app-catalogue>
  <h2>All projects</h2>
  <app-catalogue [projects]="projectsForCatalogue"></app-catalogue>
</div>
